body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

.title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
}

.move-icon {
    height: 50px;
}

.move-button {
    background-color: #333;
    border: 1px solid white;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}

#result {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 20px;
}

#score{
    margin-top: 50px;
}

#reset{
    background-color: white;
    color: black;
    border: none;
    font-size: 15px;
    padding: 10px 15px;
    cursor: pointer;
}
